<footer class="footer text-center navbar-fixed-bottom">
  <div class="container">
    <ul class="soc-media-ul">
      <li>
        <a href="http://twitter.com" class="fa fa-twitter" target="_blank"></a>
      </li>

      <li>
        <a href="https://github.com/xiaoyao202304" class="fa fa-github" target="_blank"></a>
      </li>

      <li>
        <a href="https://www.linkedin.com/" class="fa fa-linkedin" target="_blank"></a>
      </li>
      <li>
        <a href="mailto:xiaoyao202304@gmail.com" class="fa fa-envelope"></a>
      </li>
    </ul>
  </div>

  <div>
    <p>Copyright ©2017 RightJob | Design by Yao Zhou
    </p>
  </div>

</footer>
